include chatroom.html

head
    title= "ChatRoom"

script.
    Talk.ready.then(function() {
        var me = new Talk.User({id: '#{user_id}', name: '#{name}', welcomeMessage: "Hey there! How are you? :-)"})
        window.talkSession = new Talk.Session({
            appId: '#{appId}',
            me: me
        });

        var inbox = talkSession.createInbox();
        inbox.mount(document.getElementById("talkjs-container"));
    })

    function startChat() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function addUsers() {
        var users = "#{users}"
        if (users) {
            users = JSON.parse(users.replace(/&quot;/g,'"'))
            users.forEach((user) => {
                if (user.id !== '#{user_id}') {
                    var aNode = document.createElement("A");
                    aNode.innerHTML = user.name
                    aNode.id = `row.${user.id}`
                    aNode.talkjs = {otherUserId: user.id, userId: '#{user_id}'}
                    document.getElementById("myDropdown").appendChild(aNode)
                }
            })
        }
    }

    addUsers();

    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
            } else {
            a[i].style.display = "none";
            }
        }
    }

    window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
            if(event.target.id !== "myInput") {
                const _obj = event.target.talkjs
                if (_obj) {
                    var xhr = new XMLHttpRequest();
                    xhr.open("POST", location.protocol + '//' + location.host + location.pathname, true);
                    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                    var data = `userId=${_obj.userId}&otherUserId=${_obj.otherUserId}`;
                    xhr.send(data);
                }
                openDropdown.classList.remove('show');
            }
        }
        }
    }
    }

